footer {
    background-color: var(--gray-color-100);
    padding: 8.8rem 0 3.9rem;
}

footer .main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--white-dark-400);
    padding-bottom: 7.2rem;
}

footer .main .area-left {
    max-width: 28.1rem;
    width: 100%;
}

footer .main .area-left p {
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--white-dark-800);
    margin-top: 3.5rem;
}

footer .main nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 76.7rem;
}

footer .main nav .item h6 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.1rem;
    color: var(--white);
    margin-bottom: 2.4rem;
}

footer .main nav .item ul li {
    margin-bottom: 3.2rem;
}

footer .main nav .item ul li:last-of-type {
    margin-bottom: 0;
}

footer .main nav .item ul li a {
    color: var(--white-dark-800);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 105%;
    font-family: 'Sora', sans-serif;
}

footer .main nav .item:last-child ul li a {
    display: flex;
    align-items: center;
}

footer .main nav .item:last-child ul li a span {
    margin-left: 0.8rem;
}

footer .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

footer .copy p {
    color: var(--white-dark-800);
}

footer .copy .group {
    display: flex;
    align-items: center;
}

footer .copy .group span {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--white-dark-800);
    margin-right: 0.8rem;
}

@media (max-width: 1200px) {
    footer .main nav {
        max-width: 63rem;
    }
}

@media (max-width: 991px) {
    footer .main nav {
        max-width: 45rem;
    }
}

@media (max-width: 768px) {
    footer .main {
        flex-direction: column;
        align-items: center;
    }

    footer .main .area-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    footer .main .area-left p {
        text-align: center;
    }

    footer .main nav {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    
}

@media (max-width: 480px) {
    footer {
        padding: 4rem 0;
    }

    footer .copy {
        flex-direction: column;
    }

    footer .copy p {
        margin-bottom: 2rem;
    }

    footer .main {
        padding-bottom: 4rem;
    }

    footer .main nav {
        flex-direction: column;
        align-items: center;
    }

    footer .main nav .item {
        margin-bottom: 4rem;
    }

    footer .main nav .item:last-child {
        margin-bottom: 0;
    }

    footer .main nav .item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}