header {
    background-color: var(--gray-color-800);
    width: 100%;
    height: 8.8rem;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2023;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    margin-right: 3.2rem;
}

header nav ul li {
    margin-left: 3.2rem;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav .btn-primary {
    padding: 0.9rem 3.4rem;
}

header .menu-mobile {
    display: none;
}

/* Media querys */

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 480px) {
    header .logo {
        max-width: 13.8rem;
    }
}