.s-hero {
    padding: 7.2rem 0;
}

.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text {
    width: 100%;
    max-width: 64rem;
}

.s-hero .text h1 {
    margin-bottom: 2rem;
}

.s-hero .text p {
    margin-bottom: 5.6rem;
    max-width: 48.8rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--gray-color-300);
}

.s-hero .text .btn-primary {
    padding: 1.7rem 3.7rem;
}

.s-hero .image {
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--gray-color-800);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media querys */
@media (max-width: 1200px) {
    .s-hero .text {
        max-width: 49%;
    }
}

@media (max-width: 991px) {
    .s-hero .container {
        flex-direction: column;
    }

    .s-hero .text {
        max-width: 100%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-hero .text h1{
        text-align: center;
    }

    .s-hero .text p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }
    
    .s-hero {
        padding: 4rem 0;
    }

    .s-hero .text p {
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 4.2rem;
    }

    .s-hero .image {
        height: 30rem;
    }

    .s-hero .image img {
        max-width: 10rem;
    }
}